<a href="https://colab.research.google.com/github/DoctorDroid/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
   pNERTHINKERS UNITE!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

SyntaxError: ignored


ambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [40]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

tar (child): instacart_online_grocery_shopping_2017_05_01.tar.gz: Cannot open: No such file or directory
tar (child): Error is not recoverable: exiting now
tar: Child returned status 2
tar: Error is not recoverable: exiting now

In [41]:
%cd instacart_2017_05_01

[Errno 2] No such file or directory: 'instacart_2017_05_01'
/content

In [42]:
!ls -lh *.csv

ls: cannot access '*.csv': No such file or directory

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [43]:
import pandas as pd
import numpy as np
import seaborn as sns
df1 = pd.read_csv('order_products__train.csv')
df2 = pd.read_csv('order_products__prior.csv')
print(df1.shape)
print(df2.shape)
df_orders = pd.concat([df1,df2], axis=0)
df_orders

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

FileNotFoundError: ignored

In [0]:
df_pro = pd.read_csv('products.csv')
df_pro.sample(5)

       product_id  ... department_id
40367       40368  ...            15
30951       30952  ...            11
21626       21627  ...            17
40225       40226  ...            20
28201       28202  ...            19

[5 rows x 4 columns]

In [0]:
df_ordered_products =pd.merge(df_orders, df_pro, how = 'inner', on = 'product_id')
df_ordered_products

          order_id  product_id  ...  aisle_id  department_id
0                1       49302  ...       120             16
1           816049       49302  ...       120             16
2          1242203       49302  ...       120             16
3          1383349       49302  ...       120             16
4          1787378       49302  ...       120             16
...            ...         ...  ...       ...            ...
33819101   3265099       43492  ...       104             13
33819102   3361945       43492  ...       104             13
33819103   3267201       33097  ...        81             15
33819104   3393151       38977  ...       100             21
33819105   3400803       23624  ...        79              1

[33819106 rows x 7 columns]

In [0]:
target_pros = ['Banana',
               'Bag of Organic Bananas',
               'Organic Strawberries',
               'Organic Baby Spinach',
               'Organic Hass Avocado',
               'Organic Avocado',
               'Large Lemon',
               'Strawberries',
               'Limes',
               'Organic Whole Milk']

In [0]:
df_target_pros = pd.DataFrame(target_pros,
                            index=[1,2,3,4,5,6,7,.8,9,10],
                            columns = ['product_name'])
df_target_pros

SyntaxError: ignored

In [0]:
df_target = pd.merge(target_pros, df_ordered_products,
how='inner', on='product_name')
df_target

               product_name  order_id  ...  aisle_id  department_id
0                    Banana       226  ...        24              4
1                    Banana       473  ...        24              4
2                    Banana       878  ...        24              4
3                    Banana      1042  ...        24              4
4                    Banana      1139  ...        24              4
...                     ...       ...  ...       ...            ...
2418309  Organic Whole Milk   3421012  ...        84             16
2418310  Organic Whole Milk   3421046  ...        84             16
2418311  Organic Whole Milk   3421055  ...        84             16
2418312  Organic Whole Milk   3421077  ...        84             16
2418313  Organic Whole Milk   3421080  ...        84             16

[2418314 rows x 7 columns]

In [0]:
df_target['product_name'].value_counts()

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

In [0]:
for each in target_pros :
  print(each + ' = ') # was trying to output Value counts... to no avail.

Banana =
Bag of Organic Bananas =
Organic Strawberries =
Organic Baby Spinach =
Organic Hass Avocado =
Organic Avocado =
Large Lemon =
Strawberries =
Limes =
Organic Whole Milk =

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [16]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [20]:
# table2 -> tidy
cols = table2.columns.tolist()
names = table2.index.tolist() 
table2 = table2.reset_index()                                                        
table2

        index  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0

In [24]:
#.melt() is all about harmony and unity without exclusion
tidy = table2.melt(id_vars='index',value_vars = ['John Smith', 'Jane Doe','Mary Johnson'])
tidy

        index      variable  value
0  treatmenta    John Smith    NaN
1  treatmentb    John Smith    2.0
2  treatmenta      Jane Doe   16.0
3  treatmentb      Jane Doe   11.0
4  treatmenta  Mary Johnson    3.0
5  treatmentb  Mary Johnson    1.0

In [37]:
# tidy -> table2
# .pivot() is .melt() but with a sharp goatee
untidy = tidy.pivot(index = 'index', columns ='variable', values = 'value' )
untidy

variable    Jane Doe  John Smith  Mary Johnson
index
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [45]:
flights = sns.load_dataset('flights')
flights

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
..    ...        ...         ...
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [46]:
# Flights Pivot Table
flights.pivot(index = 'month', columns='year', values = 'passengers')

year       1949  1950  1951  1952  1953  ...  1956  1957  1958  1959  1960
month                                    ...
January     112   115   145   171   196  ...   284   315   340   360   417
February    118   126   150   180   196  ...   277   301   318   342   391
March       132   141   178   193   236  ...   317   356   362   406   419
April       129   135   163   181   235  ...   313   348   348   396   461
May         121   125   172   183   229  ...   318   355   363   420   472
June        135   149   178   218   243  ...   374   422   435   472   535
July        148   170   199   230   264  ...   413   465   491   548   622
August      148   170   199   242   272  ...   405   467   505   559   606
September   136   158   184   209   237  ...   355   404   404   463   508
October     119   133   162   191   211  ...   306   347   359   407   461
November    104   114   146   172   180  ...   271   305   310   362   390
December    118   140   166   194   201  ...   306   336   337   405   432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####